body{
    margin: 0;
    text-align: center;
    font-family: 'Meriweather';
    
}
   

.top-container{
    background-color: #eaccce;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    background-color: #f0e7db;
    position: absolute;
    width: 100%;
}
h1{
    font-family: 'sacramento';
    font-size: 5.625rem;
    margin-top: 50px auto 0;
    margin-bottom: 20px;
    color: #D95F76;
}
h2{
    font-family: 'monrserrat';
    font-size: 2rem;
    color:#D95F76;
    margin-bottom: 30px;
    margin-top:0;
  
}
h3{
    font-family: 'monrserrat'  sans-serif;
}


p{
    margin-top: 0;
    font-family: 'monrserrat'  sans-serif;
    font-size: 20px;

}

hr{
    width: 4%;
    border-top: dotted 5px ; 
    color: #D95F76;
    margin-bottom: 10px;
}
.intro{
    width: 30%;
    margin: auto;
}

.skills{
    margin-bottom: 0;
    margin-top: 10px;
}
.skill-row{
    width: 50%;
    margin:0px auto 50px auto;
    text-align: left;
}
.html{
    width:25%;
    float:left;
    margin-right: 30px;

}
.c-logo{
    width:25%;
    float:left;
    margin-right: 30px;
}
.css-img{
    width:25%;
    float:right;
    margin-right: 30px;
}


.smiley{
    width:25%;
    float:right;
    margin-left: 30px;
}
.contact-msg{
    width: 30%;
    margin: 40px auto 60px;
}
.contact{
    margin-bottom: 10px;
}
.btn {
    background: #34c6d9;
    background-image: -webkit-linear-gradient(top, #34c6d9, #2bb890);
    background-image: -moz-linear-gradient(top, #34c6d9, #2bb890);
    background-image: -ms-linear-gradient(top, #34c6d9, #2bb890);
    background-image: -o-linear-gradient(top, #34c6d9, #2bb890);
    background-image: linear-gradient(to bottom, #34c6d9, #2bb890);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'monrserrat';
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #e23cfc;
    background-image: -webkit-linear-gradient(top, #e23cfc, #d9d134);
    background-image: -moz-linear-gradient(top, #e23cfc, #d9d134);
    background-image: -ms-linear-gradient(top, #e23cfc, #d9d134);
    background-image: -o-linear-gradient(top, #e23cfc, #d9d134);
    background-image: linear-gradient(to bottom, #e23cfc, #d9d134);
    text-decoration: none;
  }
  .bottom-container{
    
    background-color: #eaccce ;
    position:absolute;
    padding-top: 50px;
    width:100%;
    
  }
  a{
    margin:10px;
    font-size: 1.5rem;
    color: #D95F76;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  a:hover{
    color:aliceblue;
  }
  .copyright{
    color:#D95F76;
    font-size: 1rem;
  }